#header {
  position: absolute;
  background-image: url("../images/background_header.png");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 1;

 }

#navbar {
  margin-bottom: 0;
  background: transparent;
  border: none;
  z-index: 3;
 }
 #jumbotron {
   color: white;
   position: relative;
   background: transparent;
   margin-bottom: 16px;
   z-index: 3;
 }
#loginButton { margin-right: 5px; }
#signUpButton {margin-right: 5px; }
#userNavbar{
  background: linear-gradient(to left, #00d2ff , #3a7bd5);
  border-color: linear-gradient(to left, #00d2ff , #3a7bd5);
  margin-bottom: 0;
  height:60px;
}
#navTweet {margin-left: 10px; }
#userHome { color: white; }
#userMoments { color: white; }
#userNotifications { color: white; }
#userMessages { color: white; }
#submitTweet { margin-top: 3px; }
#centerNav {
  text-align: center;
  background-color: white;
}
#selectedNav {
  display: inline-block;
  float: none;
}
.blue { color: #3498db !important; }
.red { color: #EB0000 !important; }
.margin { margin-top: 10px !important; }
.blue-background { background-color:#3498db !important; }
.lightblue-background { background-color: #00a8cc !important; }
.white { color: white !important; }
.grey-background {background-color: #dfdfdf !important; }
.user-message {background-color: #ffaa80 !important;}
.img-responsive {margin-top: 10px !important; }
.white-background { background-color: #E1E1E1 !important; }
.margin-bottom { margin-bottom: 10px !important;}
.low-margin {
  margin-top: 3px !important;
  margin-bottom: 0 !important;
}
.low-top {
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}
.lower-padding{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 0 !important;
}
.margin-both{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.rounded {border-radius: 5px !important;}
.bottom-border {
  border-bottom-color: #dfdfdf;
  border-bottom-width: 2px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.low-margin {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.no-bottom-margin { margin-bottom: 0 !important;}
body { padding-top: 60px; }
.active a{ background-color: #3498db !important; }
