#header {
  position: absolute;
  background-image: url("../images/background_header.png");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 1;

 }
#navbar {
  margin-bottom: 0;
  background: transparent;
  border: none;
  z-index: 3;
 }
 #jumbotron {
   color: white;
   position: relative;
   background: transparent;
   margin-bottom: 16px;
   z-index: 3;
 }
#loginButton { margin-right: 5px; }
#signUpButton {margin-right: 5px; }
#userNavbar{
  background-color: rgb(2, 117, 216);
  border-color: rgb(2, 117, 216);
  margin-bottom: 0;
}
#userNavSearch{ padding-top: 7px; }
#userHome { color: white; }
#userMoments { color: white; }
#userNotifications { color: white; }
#userMessages { color: white; }
#submitTweet { margin-top: 3px; }
#centerNav {
  text-align: center;
  background-color: white;
}
#selectedNav {
  display: inline-block;
  float: none;
}
.blue { color: #3498db; }
